.entry-EntryView {
  line-height: var(--line-height-paragraph);
}

.entry-EntryView__figure-container,
.entry-EntryView__video,
.entry-EntryView__embed {
  display: block;
  margin: calc(var(--space) * 3) auto;
}

.entry-EntryView__figure-container {
  text-align: center;
}

.entry-EntryView__figure-link {
  display: inline-block;
  margin: 0 auto;
  border: var(--border);
  padding: calc(var(--space) * 2);
  color: black;
  text-decoration: none;
}

.entry-EntryView__figure {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
}

.entry-EntryView__figcaption {
  font-size: var(--font-size-s);
  margin-top: calc(var(--space) * 2);
  text-align: center;
}

.entry-EntryView__embed {
  display: flex;
  justify-content: center;
}
